<div class="container"> 
      <div class="row"> 
      	  <div class="col-md-3">
      	  	<div class="tl">
              <h2>User info</h2>
      		    <h4>name : <%= @user.name %></h4>
      		    <h4>introduction : <%= @user.introduction %></h4>
                 <button type="button" class="btnbtn-default btn-sm">
                 <span class="glyphicon glyphicon-wrench"></span>
               Wrench</button>
      		 </div>
            <div class="top">
              <h2>New book</h2>

              <%= form_for(@book) do |f| %>
 
              <h4>title</h4>
              <%= f.text_field :title %>
 
              <h4>Opinion</h4>
              <%= f.text_area :body %>
 
             <br><%= f.submit 'Create Book', class:"btn btn-primary" %></br>
            <% end %>
           </div>
          </div>
      	    <div class="col-md-9">
              <h2>Users</h2> 
               <table class="table">
	            <thead>
	              <tr>
		            <th>image</th>
		            <th>name</th>
	              </tr>
	            </thead>
	
                <tbody>
		       <% @users.each do |user| %>
	             <tr>
	    	       <td><%= attachment_image_tag @user, :profile_image %></td>
	    	       <td><%= user.name %></td>
	    	       <td><%= link_to "show", user_path(user.id) %></td>
                 </tr>
                 <% end %>
                </tbody>
               </table>
              </div>
           </div>
       </div>
        <div class="top2">
       <p>CopyRight Infratop.inc</p>
     </div>