<div class="sks">
<%= flash[:complete] %>  

  <p id="notice"><%= notice %></p>
</div>
<div class="container"> 
      <div class="row"> 
      	  <div class="col-md-3">
      	  	<div class="tl">
              <h2>User info</h2>
              <div class="fy">
               <%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback:"no image.jpg", size: "100x100" %>
             </div>
      		    <h4>name : <%= @user.name %></h4>
      		    <h4>introduction : <%= @user.introduction %></h4>
                 <button type="button" class="btnbtn-default btn-sm">
                 <span class="glyphicon glyphicon-wrench"></span>
                 <%= link_to "Wrench", edit_user_path %></button>
      		 </div>
            <div class="top">
              <h2>New book</h2>

              <%= form_for(@book) do |f| %>
 
              <h4>title</h4>
              <%= f.text_field :title %>
 
              <h4>Opinion</h4>
              <%= f.text_area :body %>
 
             <br><%= f.submit 'Create Book', class:"btn btn-primary" %></br>
            <% end %>
           </div>
          </div>
      	    <div class="col-md-9">
              <div class=de>
              <h2>Books</h2> 
            </div>
               <table class="table">
	            <thead>
	              <tr>
                <th></th>
		            <th>Title</th>
		            <th>Opinion</th>
	              </tr>
	            </thead>
	
                <tbody>
		       <% @books.each do |book| %>
	             <tr>
             <td><%= link_to attachment_image_tag @user, :profile_image, format: "jpeg", fallback:"no image.jpg", size: "50x50" %></td>
	    	       <td><%= link_to book.title, book_path(book.id) %></td>
                   <td><%= book.body %></td>
                 </tr>
                 <% end %>
                </tbody>
               </table>
              </div>
           </div>
            <div class="top2">
       <p>CopyRight Infratop.inc</p>
     </div>