<div class="container"> 
      <div class="row"> 
<div class="text-center">
	<div class="col-md-12">
        <div class="ded">
<h2>Editing book</h2>
 
<%= form_for(@book) do |f| %>
<%= render 'layouts/bookerror_massages', model: f.object %>

    <h4>title</h4>
    <%= f.text_field :title %>
 
    <h4>Opinion</h4>
    <%= f.text_area :body %>
 
    <br><%= f.submit 'Update Book', class: "btn btn-primary" %></br>
    <br><%= link_to "Show", book_path %>
        <%= link_to "Back", books_path %></br>
        <div class="top1">
        <p>CopyRight Infratop.inc</p>
    </div>
  </div>
 
<% end %>
</div>
</div>
</div>
</div>